= form_for @comentario do |f|
  - if @comentario.errors.any?
    #error_explanation
      %h2= "#{pluralize(@comentario.errors.count, "error")} prohibited this comentario from being saved:"
      %ul
        - @comentario.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :texto
    = f.text_area :texto
  .field
    = f.label :estado
    = f.number_field :estado
  .field
    = f.label :usuario_id
    = f.number_field :usuario_id
  .field
    = f.label :hilo_id
    = f.number_field :hilo_id
  .actions
    = f.submit 'Save'
